{% for repository in jenkins_git_repositories %}
pipelineJob('{{ repository }}') {
  triggers {
    scm ''
  }
  definition {
    cpsScm {
      scm {
        git {
          remote {
            url('{{ jenkins_git_host }}/{{ jenkins_git_user }}/{{ repository }}.git')
          }
          branch('main')
        }
      }
      scriptPath('Jenkinsfile')
    }
  }
}

{% endfor %}
